.main-btn {
  display: inline-block;
  border: solid 1px $blue_primary;
  border-radius: 60px;
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);
  flex: 0 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
  width: max-content;
  text-transform: capitalize;
  font-weight: 700;
}

.small {
  padding: 12px 24px;
  font-size: 16px;
}

.medium {
  padding: 20px 50px;
  font-size: 20px;
}

.primary {
  color: $white;
  background: $blue_primary;
  border: none;

  &:hover {
    -webkit-box-shadow: $hover_box_shadow;
    box-shadow: $hover_box_shadow;
    opacity: 0.9;
    background-color: $hover;
  }
}

.outline {
  color: $blue_primary;
  background: transparent;
  border: 1px solid $blue_primary;

  &:hover {
    -webkit-box-shadow: $hover_box_shadow;
    box-shadow: $hover_box_shadow;
    background: $blue_primary;
    color: $white;
  }
}
