.main-btn {
  display: inline-block;
  border: solid 1px $gold_primary;
  border-radius: 60px;
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);
  flex: 0 0 auto;
  cursor: pointer;
  transition: all 0.7s ease;
  width:max-content;
  text-transform: capitalize;
}

.small {
  padding: 12px 24px;
  font-size: 16px;
}

.medium {
  padding: 20px 50px;
  font-size: 20px;
}

.primary {
  color: $white;
  background: $gold_primary;
  border: none;

  &:hover {
    box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
    opacity: 0.7;
  }
}

.outline {
  color: $gold_primary;
  background: transparent;
  border: 1px solid $gold_primary;

  &:hover {
    box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
    background: $gold_primary;
    color: $white;
  }
}
