@media screen and (min-width: 576px){
  .car-carousel-container {
    .carousel-inner{
      display: flex;
    }

    .carousel-item{
      display: block;
      margin-right: 0;
      flex: 0 0 clac(100%/4)
    }
  }
}