.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  background-color: white;
  width: 50%;
  padding: 50px 25px 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  max-height: 100%;
  overflow-y: auto;

  h2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  li::marker {
    color: $gold_primary;
  }

  .accordion-button:not(.collapsed) {
    color: $white;
    background-color: $gold_primary;
  }
}

.popup-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .popup-content {
    width: 90%;
  }
}
