.checkout-container {
  background: $white;
  box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
  border-radius: 0.375rem;
  max-width: 360px;
  position: fixed;
  top: 100px;
  padding: 15px;
  min-height: auto;
  max-height: calc(100vh - 72px);
  bottom: unset;
  z-index: 3;

  .colapse-button{
    display: none;
  }

  h5 {
    font-weight: 700;
    margin-bottom: -5px;
  }

  .version-type-wrapper {
    font-size: 14px;
  }

  .btn-wrapper button {
    width: 100%;
  }

  .back-arrow {
    cursor: pointer;
    padding: 10px 10px 10px 0;
  }

  .checkout-icons-container .icon-item{
    cursor: pointer;
  }

  .questions-block-container .link {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    text-decoration: none;

    .link-wrapper {
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      display: flex;
      padding: 16px;
      cursor: pointer;
      background-color: $gold-primary;
      border-radius: 15px;
      color: $dark;

      &:hover {
        color: $white;
      }
    }
  }

  .share-block-container {
    .share-icons-container{
    justify-content: space-around;
    }
  }
}

@media only screen and (max-width: 991px) {
    .checkout-container {
      top: unset;
      bottom: 0px;
      right: 0;
      left: 0;
      max-width: 100%;
      margin: 0 auto;
      // background-color: red;
      padding: 20px 15px;
      box-shadow: 0 -12px 30px rgba(58, 58, 58, 0.2)!important;

      .colapse-button{
        display: block;
        margin: 0 auto;
        width: 20%;
        height: 5px;
        color: $gold-primary;
        background-color: $gold-primary;
        border: $gold-primary 2px solid;
        border-radius: 25px;
        // border-top: 5px;
        // border-top-color: red;
      }

      .checkout-icons-container .icon-item{
        cursor: pointer;

      }

      .questions-block-container ,.link-wrapper {
        justify-content: center;
      }

      .share-block-container {
        .share-icons-container{
        justify-content: space-around;
        }
      }
    }

}

@media only screen and (max-width: 768px) {
  .checkout-icons-container{
   
flex-direction: row;

.icon-item{
  width: 33%;
}
  }
}
