.wrapper-checkout {
  min-width: 0;
  width: 100%;
  max-width: 43%;
}

.checkout-container {
  min-height: auto;
  max-height: calc(100vh - 72px);
  bottom: unset;
  margin: 0px 0px 60px 3.5vw;
  height: max-content;
  top: 72px;
  right: 84px;
  width: 416px;
  min-width: 360px;
  max-width: 30%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(58, 58, 58, 0.08) 0px 4px 5px, rgba(80, 80, 80, 0.13) 0px 12px 30px;

  .version-type-wrapper {
    font-size: 14px;
  }

  .btn-wrapper button {
    width: 100%;
  }

  .checkout-icons-container {
    a {
      color: $text_secondary;
    }

    .icon-item {
      .text-center {
        font-size: 14px;
      }
    }
  }

  .questions-block-container .link {
    .link-wrapper {
      min-width: 0px;
      background-color: $light_blue;
      color: $dark;
      transition: all 0.3s;
      box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);

      &:hover {
        background: $hover;
        box-shadow: $hover_box_shadow;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .checkout-container {
    top: unset !important;
    bottom: 0px !important;
    right: 0;
    left: 0;
    max-width: 100% !important;
    min-width: unset;
    margin: 0 auto;
    width: 100%;
    padding: 20px 15px 30px;
    box-shadow: 0 -12px 30px rgba(58, 58, 58, 0.2) !important;

    .colapse-button {
      width: 20%;
      height: 5px;
      color: $blue_primary;
      background-color: $blue_primary;
      border: $blue_primary 2px solid;
    }
  }
}

@media screen and (min-width: 1441px) {
  .checkout-container {
    right: 50vw;
    -webkit-transform: translate(calc(100% + 200px), 0);
    -moz-transform: translate(calc(100% + 200px), 0);
    -ms-transform: translate(calc(100% + 200px), 0);
    transform: translate(calc(100% + 200px), 0);
  }
}

@media screen and (max-width: 1270px) {
  .checkout-container {
    right: 32px;
    max-width: 360px;
  }
}

@media only screen and (max-width: 768px) {
  .checkout-icons-container {
    .icon-item {
      width: 33%;
    }
  }
}
