.filters-accordion {
  .main__range--wrapper {
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }

  .main__price--input {
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #c5c5c5;
    max-width: 45%;
    padding: 9px;
  }

  .accordion-title {
    line-height: 0;
  }

  .filter-results {
    padding-bottom: 16px;

    span {
      font-size: 14px;
      white-space: nowrap;
      color: $text_secondary;
    }

    button {
      font-size: 14px;
      font-weight: 500;
      padding: 5px 10px;
      margin-right: 0;
    }

    .filter_results_btn-wrapper {
      justify-content: end;
    }

    .clear-btn {
      display: flex;
      justify-content: end;
    }

    .show-all-btn {
      display: none;
    }
  }

  .form-check {
    position: relative;
  }

  .price__block--title {
    font-size: 16px;
    padding-left: 8px;
  }

  .form-check-input {
    width: 16px;
    height: 16px;
  }

  .form-check-input:checked {
    background-color: $blue_primary;
    border-color: $blue_primary;
  }

  .form-check-label {
    width: 100%;
  }

  .price-range-row {
    margin-bottom: 24px;
  }

  .main__range--wrapper {
    input {
      border-radius: 4px;
    }
  }

  .close-filters-btn {
    display: none;
  }

  .color-checkbox span {
    margin-top: 5px;
  }

  .accordion-item {
    border-left: unset;
    border-right: unset;
    border-radius: unset;
  }

  .accordion-title {
    font-weight: 500;
    color: $text_secondary;
  }

  .accordion-item:first-child {
    border-top: unset;
  }

  .accordion-button:not(.collapsed):hover {
    background: linear-gradient(120deg, #fdfbfb 0%, #eff2f4 100%);
  }

  .accordion-collapse.show .accordion-body:hover {
    background: linear-gradient(120deg, #fdfbfb 0%, #eff2f4 100%);
  }

  .accordion-body {
    padding-left: 10px;
  }

  .form-item-wrapper {
    padding: 8px 12px;

    .form-check {
      margin-bottom: 0;
      padding-left: 25px;
      min-height: 16px;
    }

    .form-check label {
      font-size: 14px;
      font-weight: 500;
    }
  }

  .form-item-wrapper:hover {
    background: linear-gradient(120deg, rgb(235, 237, 238) 100%, rgb(253, 251, 251) 0%);
  }
}

@media only screen and (max-width: 768px) {
  .filters-accordion {
    position: absolute;
    right: -100%;
    top: 0;
    // height: 100vh;
    width: 100%;
    max-width: 530px;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    z-index: 995;
    overflow-y: auto;
    padding: 15px;

    .filters-accordion-wrapper {
      position: relative;

      .filter-results {
        flex-direction: column;

        .filter_results_btn-wrapper {
          flex-direction: row;
          justify-content: space-between;
          margin-top: 20px;
          row-gap: 20px;

          .clear-btn {
            justify-content: flex-start;
            width: min-content;
            padding: 0;
          }

          .show-all-btn {
            display: flex;
            width: min-content;
            padding: 0;
          }
        }
      }

      .close-filters-btn-wrapper {
        display: flex;
        justify-content: end;

        .close-filters-btn {
          display: block;
          width: 30px;
          height: 30px;
          cursor: pointer;
          float: end;
        }
      }
    }

    &.show {
      right: 0;
    }
  }
}
