.filters-accordion {
  .filter-results {
    span {
      font-size: 14px;
      white-space: nowrap;
      color: $text_secondary;
    }

    button {
      font-size: 14px;
      font-weight: 500;
      padding: 5px 10px;
      margin-right: 0;
    }
  }

  .form-check-input {
    width: 16px;
    height: 16px;
  }

  .form-check-input:checked {
    background-color: $blue_primary;
    border-color: $blue_primary;
  }

  .form-check-label {
    width: 100%;
  }

  .color-checkbox span {
    margin-top: 5px;
  }

  .accordion-item {
    border-left: unset;
    border-right: unset;
    border-radius: unset;
  }

  .accordion-item:first-child {
    border-top: unset;
  }

  .accordion-button:not(.collapsed):hover {
    background: linear-gradient(120deg, #fdfbfb 0%, #eff2f4 100%);
  }

  .accordion-collapse.show .accordion-body:hover {
    background: linear-gradient(120deg, #fdfbfb 0%, #eff2f4 100%);
  }

  .form-item-wrapper {
    &:hover {
      cursor: pointer;
      background: linear-gradient(120deg, rgb(235, 237, 238) 100%, rgb(253, 251, 251) 0%);
    }

    .form-check {
      min-height: 16px;
    }

    .form-check label {
      font-size: 14px;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 768px) {
  .filters-accordion {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    max-width: 530px;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    z-index: 995;
    overflow-y: auto;
    padding: 15px;

    .filters-accordion-wrapper {
      .clear-btn {
        width: min-content;
      }

      .close-filters-btn {
        width: 30px;
        height: 30px;
      }
    }

    &.show {
      right: 0;
    }
  }
}
