.filters-accordion {

  .main__range--wrapper {

    flex-wrap: nowrap;
    margin-bottom: 10px;
  }
  
  .main__price--input {
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #c5c5c5;
    max-width: 45%;
    padding: 9px;
  }

  .accordion-title {
    line-height: 0;
  }

  .filter-results {
    span {
      font-size: 14px;
      white-space: nowrap;
      color: $text_secondary;
    }

    button {
      font-size: 14px;
      font-weight: 500;
      padding: 5px 10px;
      margin-right: 0;
    }
  }

  .accordion-button:not(.collapsed) {
    color: $white;
    background-color: rgb(220, 180, 122, 0.7);
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("../images/accordion-after.png");
    background-size: 17px 10px;
    width: 17px;
    height: 10px;
  }

  .form-check-input:checked {
    background-color: $gold_primary;
    border-color: $gold_primary;
  }

  .close-filters-btn {
    display: none;
  }
}



@media only screen and (max-width: 768px) {
.filters-accordion{
    position: absolute;
    right: -100%; 
    top: 70px;
    height: 100vh;
    width: 300px;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
  
    &.show {
      right: 0;
    }
  
    .close-filters-btn {
      display: block;
      background-color: red;
    }
  

  }
  
}
