.footer {
  padding-top: 200px;
  max-height: 500px;

  .first-line {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 52px;

    h3 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 30px;
      min-height: 56px;
    }

    .first-line-form {
      display: flex;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #878787;
      backdrop-filter: blur(10px);
      border-radius: 50px;
      padding: 2px;
      justify-content: space-between;

      input {
        border: none;
        background: transparent;
        margin: 0;
        padding: 12px 8px 12px 30px;
        font-size: 20px;
        color: $text_secondary;
        border: 1px solid transparent;
        border-radius: inherit;
      }

      button {
        margin: 12px 21px 12px 5px;
      }
    }
  }

  .second-line {
    border-top: solid;
    border-width: 1px;
    border-color: $dark;
    padding: 55px 25px;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    .first-line {
      flex-wrap: wrap;
    }

    .column-one {
      width: 100%;
      align-items: center;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    .first-line {
      flex-wrap: wrap;

      h3 {
        margin-bottom: 20px;
        min-height: auto;
      }
    }

    .column {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }
}
