.footer {
  padding-top: 200px;
  max-height: 500px;

  a {
    color: $text_secondary;
    transition: all 0.3s;
  }

  a:hover {
    color: $hover;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 490px) {
  .footer .first-line {
    .first-line-form {
      max-width: 320px;
    }

    .first-line-form input {
      max-width: 170px;
    }

    .main-btn {
      font-size: 14px;
      padding: 5px 15px;
    }
  }
}
