.header {
  background-color: transparent;

  a,
  .link {
    color: $dark;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    position: relative;
  }

  .link::before,
  .link.current::before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: $gold_primary;
    transition: width 0.3s ease;
  }

  .link:hover::before,
  .link.current::before {
    width: 100%;
  }

  .header__logo {
    max-width: 160px;
    vertical-align: middle;
  }
}

.header_toggle-btn {
  border: $dark solid 1px;
}

.header.scrolled {
  background-color: #dcb47a80;
  backdrop-filter: blur(10px);
  color: $white;

  a {
    color: $white;
  }

  .current {
    color: $dark;
  }
}

@media only screen and (max-width: 991px) {
  .offcanvas .link {
    text-decoration: none;
    color: $dark;
    position: relative;
    margin: 10px 5px;
    padding-left: 5px !important;
  }

  .offcanvas .link::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: $gold_primary;
    transition: width 0.3s ease;
  }

  .offcanvas .link:hover::before,
  .offcanvas .link.current::before {
    width: 50%;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    z-index: 990 !important;
  }
}

@media only screen and (max-width: 768px) {
  .header .navbar-brand{
    padding: 15px 0;
  }
  
}
