.header {
  background-color: transparent;

  a,
  .link {
    color: $dark;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    position: relative;
  }

  // .link::before,
  // .link.current::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 10px;
  //   left: 0;
  //   width: 0;
  //   height: 4px;
  //   background-color: $blue_primary;
  //   transition: width 0.3s ease;
  // }

  // .link:hover::before,
  // .link.current::before {
  //   width: 100%;
  // }

  .header__logo {
    max-width: 160px;
    vertical-align: middle;
  }

  .current {
    color: $hover;
  }
}

.header.scrolled {
  background-color: #ddf0ff;
  // backdrop-filter: blur(10px);
  color: $text_secondary;

  a {
    color: $text_secondary;
  }

  .current {
    color: $blue_primary;
  }
}

@media only screen and (max-width: 991px) {
  .header_toggle-btn {
    border: $dark solid 1px;
    border: none;

    .navbar-toggler-icon {
      background-image: url("../images/nav_bar.svg") !important;
    }
  }

  .offcanvas {
    background-color: $green;
    width: 100% !important;
  }

  .offcanvas-header .btn-close {
    // background-image: url("../images/close-btn.svg") !important;
    // height: 40px;
    // width: 40px;
  }

  .offcanvas .link {
    text-decoration: none;
    color: $white;
    position: relative;
    margin: 10px 5px;
    padding-left: 5px !important;
    font-size: 35px;
    font-weight: 700;
  }

  // .offcanvas .link::before {
  //   content: "";
  //   position: absolute;
  //   bottom: -3px;
  //   left: 0;
  //   width: 0;
  //   height: 4px;
  //   background-color: $blue_primary;
  //   transition: width 0.3s ease;
  // }

  .offcanvas .link:hover::before,
  .offcanvas .link.current::before {
    width: 50%;
  }
}

@media only screen and (max-width: 991px) {
  .header {
    z-index: 990 !important;
  }
}

@media only screen and (max-width: 768px) {
  .header .navbar-brand {
    padding: 15px 0;
  }
}
