.header {
  background-color: white;
  // box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);

  a,
  .link {
    color: $dark;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 600;
    position: relative;
  }

  .header__logo {
    max-width: 160px;
    vertical-align: middle;
  }

  .current {
    color: $hover;
  }
}

.header.scrolled {
  // background-color: #ddf0ff;
  color: $text_secondary;
  box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);

  a {
    color: $text_secondary;
  }

  .current {
    color: $blue_primary;
  }
}

@media only screen and (max-width: 991px) {
  .header_toggle-btn {
    border: $dark solid 1px;
    border: none;
  }

  .offcanvas {
    background-color: $green;
    width: 100% !important;
  }

  .offcanvas-header {
    padding-top: 24px;
    padding-left: 24px;
  }

  .offcanvas-body {
    padding: 19px;

    .navbar-nav {
      gap: 36px;
      padding-bottom: 46px;
      padding-top: 26px;
    }

    .link {
      text-decoration: none;
      color: $white;
      position: relative;
      margin: 10px 5px;
      padding-left: 5px !important;
      font-size: 35px !important;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 991px) {
  .header {
    z-index: 990 !important;
  }
}

@media only screen and (max-width: 768px) {
  .header .navbar-brand {
    padding: 15px 0;
  }
}
