.hero-section {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  min-height: 800px;

  .hero-search-form {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding: 2px;
    font-size: 20px;
    color: $white;
    margin-top: 40px;
    max-width: 463px;
    width: 100%;
    margin: 40px auto;
    cursor: pointer;

    .hero-search-input {
      border: none;
      background: transparent;
      margin: 0;
      padding: 12px 8px 12px 30px;
      font-size: 20px;
      color: $text_secondary;
      border: 1px solid transparent;
      border-radius: inherit;
      width: 100%;
      color: $white;
    }

    .hero-search-input::placeholder {
      color: $white;
    }

    button {
      background: #525a55;
      margin: 10px 12px;
      border-radius: 50%;
      min-width: 50px;
      width: 50px;
      height: 50px;
      border: none;
      padding-top: 7px;
      cursor: pointer;
    }
  }

  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.7);
  }

  .hero-content {
    text-align: center;
    color: $white;
    z-index: 1;
    width: 80%;
    padding: 15% 15px;

    .hero-title {
      font-size: 4rem;
      font-weight: 700;
      line-height: 4rem;
      max-width: 890px;
      margin: 0 auto 20px;
    }
  }

  .review-pop-up {
    position: absolute;
    max-width: 304px;
    padding: 22px 30px;
    font-size: 1rem;
    color: $white;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    bottom: 15%;
    right: 2%;
    text-align: start;

    .review-avatar {
      position: absolute;
      top: -30px;
      right: 0;
    }

    .review-name {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }
  }

  .car-counter {
    position: absolute;
    max-width: 200px;
    font-size: 1rem;
    line-height: 1rem;
    color: $white;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    bottom: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;

    h2 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 0;
      margin-right: 10px;
    }

    p {
      margin: 0px;
    }
  }

  .white-gradient {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 83.65%);
  }
}

@media only screen and (max-width: 1024px) {
  .hero-section {
    align-items: flex-start;

    .hero-content {
      width: 100%;

      .hero-title {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 3.5rem;
        margin-bottom: 20px;
      }
    }

    .hero-search-form {
      font-size: 16px;

      .hero-search-input {
        padding: 8px 8px 8px 20px;
        font-size: 16px;
      }

      button {
        background: transparent;
        min-width: 30px;
        width: 30px;
        height: 30px;
      }
    }

    .review-pop-up {
      bottom: 80px;
      padding: 10px 15px 10px 25px;

      p {
        line-height: 16px;
      }
    }

    .car-counter {
      bottom: 250px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero-section {
    .hero-content {
      padding: 120px 15px;

      .hero-title {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin-bottom: 20px;
      }
    }

    .review-pop-up {
      padding: 15px 15px 5px 30px;

      .review-name {
        font-size: 20px;
      }
    }

    .car-counter {
      h2 {
        font-size: 30px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
