.home-auto-card-wrapper {
  background: #ffffff;
  box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
  border-radius: 25.8353px;
  max-width: 388px;
  height: fit-content;
  height: 100%;

  .home-auto-card-image {
    border-radius: 25.8353px 25.8353px 0 0;
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .label-wrapper {
    display: flex;
    gap: 5px;
    margin-top: auto;
    padding: 5px;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: nowrap;
    margin-bottom: 20px;

    .label-item {
      font-size: 14px;
      border: none;
      background-color: $gold_primary;
      padding: 5px 10px;
    }
  }

  .auto-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 16px 80px;
    gap: 16.15px;

    .auto-card-title {
      font-size: 20px;
      font-weight: 400;
    }

    .auto-card-price {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .home-auto-card-wrapper {
    .auto-card-content {
      padding: 32px 16px 40px;
      gap: 0px;

      .auto-card-title {
        font-size: 20px;
      }

      .auto-card-price {
        font-size: 25px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-auto-card-wrapper {
    .label-wrapper {
      flex-wrap: wrap;

      .label-item {
        padding: 5px 8px;
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .home-auto-card-wrapper {
    .label-item {
      font-size: 12px;
    }
  }
}
