.home-auto-card-wrapper {
  background: #ffffff;
  box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
  border-radius: 25.8353px;
  max-width: 388px;
  height: fit-content;
  height: 100%;

  .home-auto-card-image {
    border-radius: 25.8353px 25.8353px 0 0;
  }

  .label-wrapper {
    display: flex;
    gap: 5px;
    margin-top: auto;
    padding: 5px;
    justify-content: center;
    border-radius: 15px;
    flex-wrap: nowrap;
    margin-bottom: 20px;

    .label-item {
      font-size: 14px;
border: none;
      background-color: $gold_primary;
      padding: 5px 10px;
    }
  }

  .auto-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 16px 80px;
    gap: 16.15px;

    .auto-card-title {
      font-size: 20px;
      font-weight: 400;
    }

    .auto-card-price {
      font-size: 25px;
    }
    // .label-wrapper div {
    //   padding: 6.45883px 12.9177px;
    //   background: #f6fff6;
    //   border: 1.61471px solid #dcb47a;
    //   border-radius: 19.3765px;
    //   color: #dcb47a;
    //   font-size: 22.6059px;
    //   line-height: 100%;
    // }
  }
}

@media only screen and (max-width: 1100px) {
  .home-auto-card-wrapper {
    .auto-card-content {
      // display: flex;
      // flex-direction: column;
      // align-items: flex-start;
      padding: 32px 16px 40px;
      gap: 0px;

      .auto-card-title {
        font-size: 20px;
      }

      .auto-card-price {
        font-size: 25px;
      }

      // .label-wrapper {
      //   display: flex;
      //   gap: 15px;
      //   margin-top: auto;
      // }

      // .label-wrapper div {
      //   padding: 6.45883px 12.9177px;
      //   background: #f6fff6;
      //   border: 1.61471px solid #dcb47a;
      //   border-radius: 19.3765px;
      //   color: #dcb47a;
      //   font-size: 22.6059px;
      //   line-height: 100%;
      // }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-auto-card-wrapper {
    .label-wrapper {
      // display: flex;
      // gap: 5px;
      // margin-top: auto;
      // padding: 5px;
      // justify-content: center;
      // border-radius: 25.8353px;
      flex-wrap: wrap;
      // margin-bottom: 20px;
  
      .label-item {
        // font-size: 12px;
  // border: none;
  //       background-color: $gold_primary;
  padding: 5px 8px;
      }
    }
  }
}

@media only screen and (max-width: 420px) {
.home-auto-card-wrapper {
  
  .label-item {
    font-size: 12px;

  }
}
}