.image-gallery-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  z-index: 9999;

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .image-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .popup-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
  }

  .photo-counter {
    color: #fff;
    margin-top: 10px;
    font-size: 16px;
  }

  .navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .prev-button,
  .next-button {
    background: none;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    color: inherit;
  }

  .prev-button:hover,
  .next-button:hover {
    color: $blue_primary;
  }

  .prev-button {
    margin-right: 10px;
  }

  .next-button {
    margin-left: 10px;
  }
}
