.shop-auto-card {
  box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
  height: 100%;
  transition-duration: 0.15s;

  &:hover {
    -webkit-box-shadow: $hover_box_shadow;
    box-shadow: $hover_box_shadow;
    transition-duration: 0.15s;
  }

  &:hover .shop-card-image img {
    transform: scale(1.1);
  }

  .shop-card-image img {
    transition: transform 900ms;
    object-fit: cover;
  }

  .nav-link {
    height: 100%;
  }

  .small-title {
    font-size: 12px;
  }

  .mileage-container {
    font-size: 13px;
  }
}
