.shop-auto-card {
  background: #ffffff;
  box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
  border-radius: 0.375rem;
  height: 100%;

  .shop-card-image {
    border-radius: 0.375rem 0.375rem 0 0;
  }

  .nav-link {
    height: 100%;
  }

  .btn-wrapper {
    margin-top: auto;
  }

  .btn-wrapper button {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 20px;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 420px) {
}
