.shop-auto-card {
  background: #ffffff;
  box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
  border-radius: 0.375rem;

  .shop-card-image {
    width: 100%;
    border-radius: 0.375rem 0.375rem 0 0;
  }

  .shop-auto-card img{
    width: 100%;
  }

  button {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 20px;
  }
}

@media only screen and (max-width: 768px) {
  
}
