.tooltip-wrapper {
  bottom: 20%;
  left: 10%;

  .btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    backdrop-filter: blur(2px);

    .white-dot {
      width: 16px;
      height: 16px;
    }
  }
}

.popover {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
}