.your-next-auto__section {
  margin-bottom: 100px;

  .item {
    height: 40vh;

    .item-image {
      width: 100%;
      height: 100%;
      background-position: center center;
      transition: transform 900ms;
    }
  }

  .item:hover .item-image {
    box-shadow: $hover_box_shadow;
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 768px) {
  .your-next-auto__section {
    .item {
      height: 350px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .your-next-auto__section {
    .item {
      height: 250px;
    }
  }
}
