$blue_primary: #2998ff;
$text_secondary: #495159;
$dark: #000000;
$white: #ffffff;
$hover: #09e7ff;
$green: #297373;

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.eot");
  src: url("/fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Poppins-Regular.woff2") format("woff2"), url("/fonts/Poppins-Regular.woff") format("woff"),
    url("/fonts/Poppins-Regular.ttf") format("truetype"),
    url("/fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.eot");
  src: url("/fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Poppins-Bold.woff2") format("woff2"), url("/fonts/Poppins-Bold.woff") format("woff"),
    url("/fonts/Poppins-Bold.ttf") format("truetype"), url("/fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.eot");
  src: url("/fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Poppins-Light.woff2") format("woff2"), url("/fonts/Poppins-Light.woff") format("woff"),
    url("/fonts/Poppins-Light.ttf") format("truetype"), url("/fonts/Poppins-Light.svg#Poppins-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.eot");
  src: url("/fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Poppins-Medium.woff2") format("woff2"), url("/fonts/Poppins-Medium.woff") format("woff"),
    url("/fonts/Poppins-Medium.ttf") format("truetype"), url("/fonts/Poppins-Medium.svg#Poppins-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.eot");
  src: url("/fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Poppins-SemiBold.woff2") format("woff2"), url("/fonts/Poppins-SemiBold.woff") format("woff"),
    url("/fonts/Poppins-SemiBold.ttf") format("truetype"),
    url("/fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  // overflow-x: hidden;
  // overflow-y: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: $dark;
  overflow-x: hidden;
}
a:hover {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 75px;
  line-height: 89px;
  font-weight: 700;
}

@media only screen and (max-width: 1100px) {
  h2 {
    font-size: 52px;
    line-height: 56px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 15px;
  }
}

@media only screen and (max-width: 425px) {
  h2 {
    font-size: 38px;
    line-height: 42px;
  }
}
