.error-page {
  color: $gold_primary;

  .wrapper {
    margin: 150px auto;
    background: $dark;
    border-radius: 60px;
    padding: 100px 0px;
    max-width: 90%;
    align-items: center;

    h1 {
      font-size: 60px;
      font-weight: 700;
    }

    p {
      color: $white;
      font-size: 25px;
      margin-bottom: 30px;
      text-transform: capitalize;
    }
  }
}

/*-------------------------------------------------*/
/* =  769px
  /*-------------------------------------------------*/

@media only screen and (max-width: 769px) {
  .error-page {
    .wrapper {
      margin: 130px auto;
      border-radius: 60px;
      padding: 100px 0px 100px 0px;
      max-width: 100%;

      h1 {
        font-size: 55px;
      }

      p {
        font-size: 18px;
      }

      .main-btn {
        padding: 10px 40px !important;
        font-size: 18px;
      }
    }
  }
}
