.error-page {
  color: $gold_primary;

  .wrapper {
    margin: 50px auto;
    background: $dark;
    border-radius: 60px;
    padding: 100px;
    max-width: 90%;
    align-items: center;

    h1{
        font-size: 60px;
    }

    p{
        color: $white;
        font-size: 25px;
        margin-bottom: 30px;
        text-transform: capitalize;
    }
  }
}
