.blog__top-banner-wrap {
  height: 750px;
}

.blog-hero-section {
  position: relative;
  // display: flex;
  // align-items: flex-start;
  // justify-content: center;
  // height: 50vh;
  // overflow: hidden;
  // min-height: 800px;

  .banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(0.7);
  }

  .banner__text-wrap {
    // text-align: center;
    color: $white;
    z-index: 1;
    width: 80%;
    padding: 150px 15px;

    .banner__title {
      font-size: 4rem;
      font-weight: 700;
      line-height: 4rem;
      margin-bottom: 20px;
    }
  }

  .white-gradient-top {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    background: linear-gradient(-180deg, $white 0%, rgba(255, 255, 255, 0) 83.65%);
  }

  .black-gradient {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 83.65%);
  }
}
