.blog__tags--section {
  .tag-item {
    border: solid 1px $blue_primary;
    background-color: $blue_primary;
    cursor: pointer;
    border-radius: 60px;
    color: $white;
    box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);

    &:hover {
      border: solid 1px $hover;
      background-color: $hover;
      transition: all 0.5s ease;
      box-shadow: $hover_box_shadow;
    }
  }

  .active {
    border: solid 1px $hover;
    background-color: $hover;
    box-shadow: $hover_box_shadow;
  }
}

.blog__post--section {
  grid-template-columns: repeat(3, minmax(0, 1fr));

  .blog__post--card {
    box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
    height: 100%;
  }

  .blog__post--card .nav-link {
    height: 100%;

    &:hover {
      box-shadow: $hover_box_shadow;
    }

    &:hover .read__more--btn {
      color: $blue_primary;
      transition: all 0.5s ease;
    }

    &:hover .gatsby-image-wrapper img {
      transform: scale(1.1);
    }

    .gatsbyimage-wrapper {
      overflow: hidden;
    }

    .gatsby-image-wrapper img {
      transition: transform 900ms;
      object-fit: cover;
    }

    .card-footer {
      .tag {
        color: $blue_primary;
      }
    }
  }
}

/*-------------------------------------------------*/
/* =  1024px
  /*-------------------------------------------------*/

@media only screen and (max-width: 1024px) {
  .blog__post--section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/*-------------------------------------------------*/
/* =  769px
  /*-------------------------------------------------*/

@media only screen and (max-width: 769px) {
  .blog__post--section {
    grid-template-columns: 1fr;
  }
}
