.blog__hero--section {
  position: relative;
  background: linear-gradient(180deg, $gold_primary, 60%, $white);

  .banner__text-wrap {
    color: $dark;
    z-index: 1;
    width: 80%;
    padding: 150px 15px;

    .banner__title {
      position: relative;
      font-size: 4rem;
      font-weight: 700;
      line-height: 4rem;
      margin-bottom: 20px;
    }

    .banner__title::before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 0;
      height: 10px;
      background-color: $gold_primary;
      transition: width 0.3s ease;
      width: 40%;
    }
  }

  .white__gradient--bottom {
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 83.65%);
  }
}

.blog__tags--section {
  .tag-title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
  }

  .tag-item {
    font-size: 18px;
    border: solid 2px $gold_primary;
    background-color: $white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15px 5px 15px 5px;
    margin-right: 20px;

    &:hover {
      background-color: $gold_primary;
      transition: all 0.5s ease;
    }
  }

  .active {
    background-color: $gold_primary;
    font-weight: 500;
  }
}

.blog__post--section {
  .blog__post--card {
    border-radius: 25.8353px;
    box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
    height: 100%;
    border: none;
  }

  .blog__post--card .nav-link {
    border-radius: 25.8353px;
    display: flex;
    flex-direction: column;
    height: 100%;

    &:hover .read__more--btn {
      color: $gold_primary;
      transition: all 0.5s ease;
    }

    .read__more--wrapper {
      display: flex;
      justify-content: flex-end;
    }

    .card-footer {
      background-color: $white;
      display: flex;
      gap: 15px;
      margin-top: auto;
      padding: 25px;
      border: none;

      .tag {
        border-radius: 15px 5px 15px 5px;
        font-size: 16px;
        border: none;
        background-color: $gold_primary;
        padding: 5px 10px;
      }
    }
  }
}

/*-------------------------------------------------*/
/* =  769px
  /*-------------------------------------------------*/

@media only screen and (max-width: 769px) {
  .blog__hero--section {
    .banner__text-wrap {
      width: 100%;
      padding: 150px 15px 70px 15px;

      .banner__title {
        font-size: 2rem;
        line-height: 2rem;
      }

      .banner__title::before {
        bottom: -10px;
        height: 6px;
      }
    }

    .white__gradient--bottom {
      height: 50px;
    }
  }

  .blog__tags--section {
    .tags__wrappe {
      display: flex;
      flex-wrap: wrap;
    }

    .tag-title {
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    .tag-item {
      display: inline-block;
      font-size: 16px;
      padding: 5px 10px;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
}
