.item-section {
  padding: 60px 0;
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .item {
    display: flex;
    margin: 20px;
  }

  .item-content {
    margin-left: 30px;

    h5 {
      font-weight: 500;
      font-size: 27px;
    }

    p {
      font-weight: 500;
      font-size: 17px;
      color: $text_secondary;
    }
  }
}

.auto-swiper-section {
  margin-top: 50px;
  margin-bottom: 100px;

  .latest-auto-title {
    padding: 0 15px;
  }

  .arrow-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 300px;

    .arrow {
      margin-left: 20px;
      max-width: 50px;
      left: 0px;
      // top:15px;
    }
    &:hover .arrow {
      left: 20px;
      transition: left 0.8s ease;
    }

    &:not(:hover) .arrow {
      left: 0px;
      transition: left 0.8s ease;
    }

    a {
      color: #4f4f4f;
      text-decoration: none;
      font-size: 30px;
    }

    p {
      font-size: 20px;
      margin-bottom: 0;
      color: $blue_primary;
      display: inline;
    }

    &:hover p {
      // text-decoration: underline;
      color: $green;
    }
  }

  .auto-card-container {
    margin-top: 40px;
    position: relative;
    overflow: hidden;

    .swiper-container {
      position: relative;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      width: calc(20% + 10px);
      z-index: 2;
    }

    .left {
      left: 0;
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    }

    .right {
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    }

    .swiper-wrapper {
      width: 80%;
    }

    .swiper-slide {
      width: 20%;

      a {
        min-height: 300px;
        height: 300px;
      }

      .card-title {
        font-size: 18px;
      }
    }

    .swiper-button-prev {
      position: absolute;
      height: 20px;
      width: 20px;
      left: 0;
      top: calc(50% - 20px);
      background-color: green;
      z-index: 4;
    }

    .swiper-button-next {
      position: absolute;
      height: 20px;
      width: 20px;
      background-color: red;
      right: 0;
      top: calc(50% - 20px);
      z-index: 4;
    }
  }
}

.one-more-section {
  text-align: center;
  margin-bottom: 100px;

  .section-text {
    // font-size: 24px;
    // line-height: 28px;
    // color: #4f4f4f;
  }

  .item {
    border-radius: 30px;
    position: relative;
    text-align: center;
    background: #525a55;
    padding: 0 20px;
    height: 40vh;
    align-items: center;
    justify-content: center;

    .item-image {
      width: 100%;
      height: 100%;
      z-index: 0;
      border-radius: 30px;
      display: block;
      background-position: center center;
    }

    a {
      display: block;
      position: absolute;
      text-decoration: none;
      height: 100%;
      width: 100%;
    }

    p {
      position: relative;
      z-index: 1;
      color: $white;
      font-size: 64px;
      line-height: 75px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .item-link {
    cursor: pointer;
  }
}

.site-visite-section {
  background: #262626;
  padding: 70px 0;
  color: $white;

  .wrapper {
    align-items: center;
  }

  p {
    color: $white;
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .gold-text {
    color: $blue_primary;
  }
}

@media only screen and (max-width: 1100px) {
  .item-section {
    .wrapper {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .site-visite-section {
    text-align: center;
  }

  .one-more-section {
    .item {
      height: 550px;
    }

    .item p {
      font-size: 52px;
      line-height: 56px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .auto-swiper-section {
    // padding: 0 0 0 15px;

    .latest-auto-title {
      margin: 0 auto 20px;
      h2 {
        text-align: start;
        margin-bottom: 20px;
      }

      .arrow-wrapper {
        .arrow {
          max-width: 20px;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  .one-more-section {
    .section-text {
      font-size: 18px;
    }

    .second-items-container {
      flex-direction: column-reverse;
    }

    .item {
      height: 350px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .auto-swiper-section {
    .overlay {
      display: none;
    }

    .swiper-slide {
      padding: 0 25px;
      // width: 90% !important;
    }
  }
}

@media only screen and (max-width: 425px) {
  .item-section {
    .item {
      display: flex;
      margin: 10px;
      width: 100%;
    }

    .item-content {
      margin-left: 10px;

      h5 {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 10px;
      }
    }
  }

  .one-more-section {
    .item {
      p {
        font-size: 38px;
        line-height: 42px;
      }
    }
  }

  .latest-auto-section {
    .auto-card-container {
      .swiper-slide {
        width: 80%;
      }
    }
  }
}
