.site-visite {
  background: #262626;
  padding: 70px 0;
  color: $white;

  .wrapper {
    align-items: center;
  }

  h2 {
    font-size: 62px;
    font-weight: 600;
  }

  p {
    color: $text_secondary;
  }

  .gold-text {
    color: $gold_primary;
  }
}
