.hero-section {
  position: relative;
  height: 120vh;

  .hero-background-image {
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .hero-content {
    padding: 200px 0 50px;
    width: 80%;
    position: relative;
    z-index: 1;
    color: $white;
    text-align: center;
    margin: 0 auto;

    .hero-title {
      font-size: 82px;
      font-weight: 700;
      line-height: 96px;
      margin-bottom: 20px;
    }

    .hero-search-form {
      display: flex;
      justify-content: space-between;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid $white;
      backdrop-filter: blur(10px);
      border-radius: 50px;
      padding: 2px;
      font-size: 20px;
      color: $white;
      margin-top: 40px;
      max-width: 463px;
      width: 100%;
      margin: 40px auto;
      cursor: pointer;

      .hero-search-input {
        border: none;
        background: transparent;
        margin: 0;
        padding: 12px 8px 12px 30px;
        font-size: 20px;
        color: $text_secondary;
        border: 1px solid transparent;
        border-radius: inherit;
        width: 100%;
        color: $white;
      }

      .hero-search-input::placeholder {
        color: $white;
      }

      button {
        background: #525a55;
        margin: 10px 12px;
        border-radius: 50%;
        min-width: 50px;
        width: 50px;
        height: 50px;
        border: none;
        padding-top: 7px;
        cursor: pointer;
      }
    }
  }

  .white-gradient {
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 25vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 83.65%);
  }

  .review-pop-up {
    position: absolute;
    max-width: 304px;
    padding: 22px 30px;
    font-size: 16px;
    color: $white;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    right: 0;
    text-align: start;

    .review-avatar {
      position: absolute;
      top: -30px;
      right: 0;
      width: 62px;
      height: 62px;
    }

    .review-name {
      font-size: 24px;
    }
  }
}

.item-section {
  padding: 60px 0;
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .item {
    display: flex;
    margin: 20px;
  }

  .item-content {
    margin-left: 30px;

    h5 {
      font-weight: 500;
      font-size: 27px;
    }

    p {
      font-weight: 500;
      font-size: 17px;
      color: $text_secondary;
    }
  }
}

.latest-auto-section {
  margin-top: 50px;
  margin-bottom: 100px;

  h2 {
    font-size: 75px;
    line-height: 89px;
    font-weight: 600;
    max-width: 562px;
    margin-bottom: 30px;
  }

  .arrow-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 300px;

    .arrow {
      margin-left: 20px;
      max-width: 50px;
      left: 0px;
    }
    &:hover .arrow {
      left: 20px;
      transition: left 0.8s ease;
    }

    &:not(:hover) .arrow {
      left: 0px;
      transition: left 0.8s ease;
    }

    a {
      color: #4f4f4f;
      text-decoration: none;
      font-size: 30px;
    }

    &:hover a {
      text-decoration: underline;
    }
  }

  .auto-card-container {
    margin-top: 40px;
    display: flex;
    column-gap: 60px;
  }
}

.one-more-section {
  text-align: center;
  margin-bottom: 200px;

  .section-title {
    font-size: 64px;
    line-height: 75px;
  }

  .section-text {
    font-size: 24px;
    line-height: 28px;
    color: #4f4f4f;
  }

  .items-grid-container {
    margin-top: 80px;
    display: grid;
    column-gap: 60px;
    row-gap: 80px;

    .item {
      background: rgba(0, 0, 0, 0.23);
      border-radius: 30px;
      width: 100%;
      height: 600px;
    }

    .item-image {
    }
  }

  .grid-one {
    grid-template-columns: 2fr 1fr;
  }

  .grid-two {
    grid-template-columns: 1fr 2fr;
  }
}

.site-visite-section {
  background: #262626;
  padding: 70px 0;
  color: $white;

  .wrapper {
    align-items: center;
  }

  h2 {
    font-size: 62px;
    font-weight: 600;
  }

  p {
    color: $text_secondary;
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .gold-text {
    color: $gold_primary;
  }
}

@media only screen and (max-width: 1320px) {
  .hero-section {
    .hero-content {
      padding: 150px 0 50px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .hero-section {
    height: 100vh;

    .hero-content {
      padding: 100px 0 50px;
      width: 90%;

      .hero-title {
        font-size: 52px;
        line-height: 56px;
      }

      .hero-search-form {
        display: flex;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid $white;
        backdrop-filter: blur(10px);
        border-radius: 50px;
        padding: 2px;
        font-size: 20px;
        color: $white;
        margin-top: 40px;
        max-width: 463px;
        width: 100%;
        margin: 40px auto;

        .hero-search-input {
          border: none;
          background: transparent;
          margin: 0;
          padding: 12px 8px 12px 30px;
          font-size: 20px;
          color: $text_secondary;
          border: 1px solid transparent;
          border-radius: inherit;
          width: 100%;
          color: $white;
        }

        .hero-search-input::placeholder {
          color: $white;
        }

        button {
          background: #525a55;
          margin: 10px 12px;
          border-radius: 50%;
          min-width: 50px;
          width: 50px;
          height: 50px;
          border: none;
          padding-top: 7px;
          cursor: pointer;
        }
      }
    }

    .review-pop-up {
      max-width: 304px;
      padding: 22px 30px;
      right: 0;
      bottom: -150px;
    }
  }

  .item-section {
    .wrapper {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .site-visite-section {
    text-align: center;
    h2 {
      font-size: 45px;
      line-height: 60px;
    }
  }
}

@media only screen and (max-width: 425px) {
  .hero-section {
    .hero-content {
      padding: 100px 20px 50px;
      width: 100%;

      .hero-title {
        font-size: 38px;
        line-height: 42px;
      }

      .hero-search-form {
        margin-bottom: 40px;

        .hero-search-input {
          padding: 8px 6px 8px 15px;
          font-size: 18px;
        }

        button {
          background: #525a55;
          margin: 2px 12px;
          border-radius: 50%;
          min-width: 50px;
          width: 50px;
          height: 50px;
          border: none;
          padding-top: 7px;
          cursor: pointer;
        }
      }
    }

    .review-pop-up {
      max-width: 304px;
      padding: 42px 15px 15px;
      right: 0;
      left: 0;
      margin: 0 auto;
      text-align: center;

      .review-avatar {
        right: 0;
        left: 0;
        margin: 0 auto;
      }
    }
  }

  .item-section {
    .item {
      display: flex;
      margin: 10px;
      width: 100%;
    }

    .item-image {
      max-width: 50px;
      width: 50px;
    }

    .item-content {
      margin-left: 10px;

      h5 {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 10px;
      }
    }
  }
}
