.shop-page-container {
  padding-top: 72px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  column-gap: 10px;

  .show-filters-btn {
    display: none;
  }

  .filters-container {
    width: 40%;
    max-width: 350px;
  }

  .auto-cards-container {
    .small-info-text {
      font-size: 14px;
      color: $text_secondary;
      margin-bottom: 0;
      margin-top: 1rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .shop-page-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .shop-page-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .shop-page-container {
    flex-direction: column;

    .filters-container {
      width: 100%;
      max-width: 100%;

      .filter-title-line {
        justify-content: space-between;
        padding-bottom: 1rem;
      }
    }

    .show-filters-btn {
      display: flex;
      border-radius: 60px;
      box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);
      flex: 0 0 auto;
      cursor: pointer;
      transition: all 0.7s ease;
      width: max-content;
      text-transform: capitalize;
      font-weight: 700;
      padding: 8px 20px;
      font-size: 14px;

      color: $gold_primary;
      background: transparent;
      border: 1px solid $gold_primary;

      &:hover {
        box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, 0.2);
        opacity: 0.9;
      }
    }
  }
}

@media only screen and (max-width: 481px) {
  .shop-page-container {
    grid-template-columns: 1fr;
  }
}
