.shop-page-container {
  padding-top: 72px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  column-gap: 10px;

  .show-filters-btn {
    display: none;
  }

  .filters-container {
    // background-color: palevioletred;
    width: 40%;
    max-width: 350px;
  }

  .auto-cards-container {
    .small-info-text {
      font-size: 14px;
      color: $text_secondary;
    }
  }
}

@media screen and (min-width: 1024px) {
  .shop-page-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .shop-page-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  // .filters-container {
  //   display: none;
  // }

  .shop-page-container {
    flex-direction: column;
    .show-filters-btn {
      display: flex;
    }
  }

}

@media only screen and (max-width: 481px) {
  .shop-page-container {
    grid-template-columns: 1fr;
  }
}
