.single-car-container {
  padding-top: 40px;
  margin-top: 50px;

  .auto__description {
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-weight: 600;
      font-size: 18px;
      text-align: justify;
    }

    p {
      text-align: justify;
    }

    p + p {
      padding-bottom: 10px;
    }
  }

  .icon-wrapper {
    background-color: $gold-primary;
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content:space-evenly;
  }

  .icon-wrapper_item{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center
  }

  .icon-wrapper_item p {
    // padding: 0;
    margin: 0;
    display: block;
  }

  .item {
    width: 100%;
    border-radius: 25px;
    max-height: 500px;
    height: 100%;
  }

  .carousel-caption {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    max-width: 70px;
    top: 15px;
    left: 15px;
    bottom: unset;
    padding: 5px 20px;
    font-size: 16px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    span {
      background-color: $gold-primary;
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }

  .carousel-indicators {
    display: none;
  }

  .row-title {
    border: 0 2px 0 0 solid aqua;
  }
}

.category-icon-row{
row-gap: 20px;
}
