.single-car-container {
  padding-top: 40px;
  margin-top: 90px;

  .test-container{
    display: grid;
    margin: 0px 15px;
    grid-template-columns: 2fr 1fr;
    column-gap: 3vw;
    min-width: 0px;
    row-gap: 0.75rem;
    margin: 0px;
    grid-template-columns: unset;
    column-gap: unset;
    width: auto;
    max-width: 1440px;
    box-sizing: border-box;


    .car-content{
      max-width: 780px;
    }

    .small-car-content{
      box-sizing: border-box;
      margin: 0px auto;
      min-width: 360px;
      width: 100%;
      max-width: max-content;
      opacity: 1;
      z-index: 9;
    }
  }

  .auto__description {
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-weight: 600;
      font-size: 18px;
      text-align: justify;
    }

    p {
      text-align: justify;
    }

    p + p {
      padding-bottom: 10px;
    }
  }

  .icon-wrapper {
    background-color: $blue_primary;
    border-radius: 15px;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-evenly;
  }

  .icon-wrapper_item {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
  }

  .icon-wrapper_item p {
    margin: 0;
    display: block;
  }

  .item {
    width: 100%;
    border-radius: 25px;
    max-height: 500px;
    height: 100%;
  }

  .carousel-caption {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    max-width: 70px;
    top: 15px;
    left: 15px;
    bottom: unset;
    padding: 5px 20px;
    font-size: 16px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    span {
      background-color: $blue_primary;
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }

  .carousel-indicators {
    display: none;
  }

  .row-title {
    border: 0 2px 0 0 solid aqua;
  }
}

.category-icon-row {
  row-gap: 20px;
}

@media screen and (max-width: 768px) {
  .single-car-container {
    .icon-wrapper {
      flex-direction: column;
      row-gap: 20px;
    }
  }
}
