.single-car-container {
  padding-top: 40px;
  margin-top: 70px;


  .item {
    width: 100%;
    border-radius: 25px;
    max-height: 500px;
    height: 100%;
  }

  .carousel-caption{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    max-width: 150px;
    top: 15px;
    left: 15px;
    bottom: unset;
    padding: 10px 20px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    span {
      background-color: $gold-primary;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }

  .carousel-indicators {
    display: none;
  }

  .row-title {
    border: 0 2px 0 0 solid aqua;
  }

  .checkout-container {
    background: #ffffff;
    box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
    border-radius: 0.375rem;
    max-width: 450px;
    position: fixed;
    top:80px;
    padding: 15px;
  }
}

@media only screen and (max-width: 991px)
{
  .single-car-container {
    .checkout-container{
      top:unset;
      bottom: 0px;
      right: 0;
      left: 0;
      max-width: 100%;
      margin: 0 auto;
      background-color: red;
      padding:20px 15px;
    }
  }

}