.single__post-wrapper {
  padding-top: 150px;

  .post__content {
    h1,
    h2 {
      font-size: 25px;
      line-height: 35px;
    }
  }
}
.single-post .blog__post--card, .single-post .blog__post--card a {
  min-height: 485px;
}
