.single-car__container {
  .single-car__wrapper {
    min-width: 0;
    width: auto;
    max-width: 1440px;
  }

  .left-side__content {
    min-width: 0;
    max-width: 780px;
  }
  
  .auto__description {
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-weight: 600;
      font-size: 18px;
      text-align: justify;
      line-height: 2rem;
    }

    p {
      text-align: justify;
    }

    p + p {
      padding-bottom: 10px;
    }
  }

  .icon-wrapper_item {
    min-width: 30%;
  }

  .item {
    width: 100%;
    max-height: 500px;
    height: 100%;
  }

  .carousel-caption {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    max-width: 70px;
    top: 15px;
    left: 15px;
    bottom: unset;
  }

  .carousel-control-prev span,
  .carousel-control-next span {
    background-color: $blue_primary;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    position: relative;
  }

  .carousel-control-next span {
    background-image: url(/images/arrow-next.svg);
  }

  .carousel-control-prev span {
    background-image: url(/images/arrow-prev.svg);
  }

  .carousel-indicators {
    display: none;
  }

  .specification-row {
    button {
      margin-left: 12px;
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      padding: 8px 45px;
      font-weight: 500;
      font-size: 16px;
      line-height: 35px;

      &:hover {
        background-color: $hover;
        border-color: $hover;
      }
    }
  }

  .recommended-auto-cards-container {
    min-width: 0px;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }

  .right-side__content {
    min-width: 360px;
    width: 100%;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    z-index: 9;
  }
}

@media screen and (min-width: 991px) {
  .single-car__container {
    .single-car__wrapper {
      grid-template-columns: 2fr 1fr;
    }

    .left-side__content {
      margin-top: 76px;
      padding-top: 48px;
    }
  }
}

@media screen and (max-width: 991px) {
  .single-car__container {
    .left-side__content {
      max-width: unset;
      margin-top: 76px;
    }
  }
}

@media screen and (max-width: 768px) {
  .single-car__container {
    .shop-auto-card {
      margin: 0;
    }

    .right-side__content {
      min-width: 300px !important;
    }
  }
}
