.single-car-container {
  padding-top: 40px;
  margin-top: 50px;

  .icon-wrapper {
    background-color: $gold-primary;
    border-radius: 15px;
    padding: 30px 0;
  }

  .item {
    width: 100%;
    border-radius: 25px;
    max-height: 500px;
    height: 100%;
  }

  .carousel-caption {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    max-width: 70px;
    top: 15px;
    left: 15px;
    bottom: unset;
    padding: 5px 20px;
    font-size: 16px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    span {
      background-color: $gold-primary;
      width: 30px;
      height: 30px;
      border-radius: 15px;
    }
  }

  .carousel-indicators {
    display: none;
  }

  .row-title {
    border: 0 2px 0 0 solid aqua;
  }

}
