.footer {
  padding-top: 200px;
  max-height: 500px;

  .first-line {
    flex-direction: row;
    justify-content: space-between;

    h3 {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 30px;
      min-height: 56px;
    }
  }

  .second-line {
    border-top: solid;
    border-width: 1px;
    border-color: $dark;
    padding: 55px 25px;
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .footer {
    .first-line {
      flex-wrap: wrap;
    }

    .column-one {
      width: 100%;
      align-items: center;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    .first-line {
      flex-wrap: wrap;

      h3 {
        margin-bottom: 20px;
        min-height: auto;
      }
    }

    .column {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }
}
